body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
*, *:before, *:after {
    box-sizing: border-box;
  }
header{
    background-color: #66BB6A;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    a{
        text-decoration: none;
        color: white;
        font-size: 3em;
        font-family: Damion;
    }
}
.wrapper{
    margin: 0 0.5em ;
}
.title-wrapper{
    display: flex;
    justify-content: space-around;
    .income-title{
        opacity: 1;
    }
    .expenses-title{
        opacity: 0.5;
    }
    h2{
        cursor: pointer;
    }
    .income, .expenses{
        width: 100%;
    }
}

form{
    display: flex;
    
    input:nth-child(2){
        margin-left: 1em;
    }
    .input-button{
        margin-left: auto;
        transition-duration: 0.4s;
    }
    .input-button:hover{
        background-color: #66BB6A;
    }
    input{
        border: none;
        background-color: #D9D9D9;
        border-radius: 5px;
    }
}
.input-name{
    width: 200px;
}
.input-value{
    width: 100px;
}
.input-name, .input-value, .input-button{
    padding: 0.5em;
}
.added-to-list{
    display: flex;
    vertical-align: middle;
    align-items: center;
    .edit-delete-wrapper{
        margin-left: auto;
        .edit-button, .delete-button{
            border: none;
            background-color: #D9D9D9;
            border-radius: 5px;
            padding: 0.5em;
            transition-duration: 0.4s;
        }
        .edit-button{
            margin-right: 0.5em;
        }
        .delete-button:hover{
            background-color: #E74C3C;
        }
        .edit-button:hover{
            background-color: #fbc531;
        }
    }
}
.income{
    display: block;
}
.expenses{
    display: none;
}


//desktop resolution

@media screen and (min-width: 768px){
    .wrapper{
        width: 768px;
        margin: 0 auto;
    }
}